.content-page{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	.sidebar{
		width: 300px;
	}
	.content{
		width: calc(100% - 316px);
	}

	.content-bottom, .content-search, .error-404, .search-no{
		width: 100%;
	}


}

.posts {
	display: flex;
	flex-wrap: wrap;

	&.grid-category{

	}
	&.grid-search{

	}
}