.page-news {
  display: flex;
  flex-wrap: wrap;
  background: #f0f0f0;
  border-radius: 0;
  padding: 0;
}

.page-news__nav {
  width: 100%;
  .nav__items {
    display: flex;
    list-style-type: none;
    padding: 0;
    gap: 16px;
    border-bottom: 1px solid #1d2730;
    .nav__item {
      color: #1d2730;
      font-size: 20px;
      font-weight: 700;
      line-height: 24px; /* 120% */
      text-transform: uppercase;
      padding-bottom: 8px;
      border-bottom: 2px solid transparent;
      &:first-child {
        margin-left: 20px;
      }
    }

    .active {
      position: relative;
      &::after {
        content: "";
        width: 100%;
        height: 4px;
        left: 0;
        bottom: -3px;
        background-color: #1bae72;
        position: absolute;
        z-index: 10;
      }
    }
  }
}

.page-news__main {
  display: flex;
  border-radius: 10px;
  background: #fafafa;
  article {
    padding: 16px 40px 0 20px;
    margin: 0;
    p {
      margin: 24px 0;
    }
  }
}

.news-big-card-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;
  margin-bottom: 24px;
  .news-big-card {
    width: 280px;
    &__img {
      width: 280px;
      height: 210px;
      border-radius: 10px;
      background: url("/img/news-big-card-img.jpg"),
        lightgray -32.941px 0px / 123.529% 100% no-repeat;
    }
    &__title {
      color: #3a3a3a;
      font-size: 19px;
      font-weight: 700;
      line-height: 120%; /* 24px */
      text-transform: uppercase;
      margin: 8px 0;
    }
    &__subtitle {
      color: #1d2730;
      font-size: 16px;
      font-weight: 400;
      line-height: 20px; /* 125% */
      margin: 0;
      margin-bottom: 8px;
    }
    .date-box {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .news-big-card__cat {
        color: #185d41;
        font-size: 12px;
        font-weight: 400;
        line-height: 120%; /* 14.4px */
        text-transform: uppercase;
      }
      .news-big-card__date {
        color: #c3c3c3;
        font-size: 10px;
        font-weight: 400;
        line-height: 120%; /* 12px */
        text-transform: uppercase;
      }
    }
  }
}

.news-card-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 13px;
  justify-content: space-between;
  margin-bottom: 24px;

  .news-card {
    width: 220px;
    &__img {
      width: 220px;
      height: 126px;
      border-radius: 10px;
      background: url("/img/news-card-img.jpg"),
        lightgray -10.189px 0px / 109.263% 100% no-repeat;
    }
    &__title {
      color: #1d2730;
      font-size: 17.297px;
      font-weight: 700;
      line-height: 22px; /* 127.191% */
      text-transform: none;
      margin: 8px 0;
    }

    .time-box {
      display: flex;
      justify-content: space-between;
      padding: 0 4px;
      margin-bottom: 8px;
      .news__time {
        color: #4a5b68;
        font-size: 12px;
        font-weight: 700;
        text-transform: uppercase;
      }
      .news__read {
        display: flex;
        align-items: center;
        gap: 2px;
        color: #4a5b68;
        font-size: 12px;
        font-weight: 400;
        text-transform: lowercase;
      }
    }

    .news-card__cat {
      color: #185d41;
      font-size: 14px;
      font-weight: 700;
      line-height: 18px; /* 128.571% */
    }
  }
}

.news-banner {
  width: 100%;
  height: 90px;
  border-radius: 10px;
  margin: 24px 0;
  background: url("/img/news-banner.jpg"),
    linear-gradient(180deg, rgba(1, 1, 1, 0) 50%, #010101 100%);
}

.news-and-title {
  display: flex;
  margin-bottom: 24px;
  &__desc {
    width: 220px;
    margin-right: 20px;
    .title-wrap {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .news-and-title__title {
        color: #1d2730;
        font-size: 20px;
        font-weight: 700;
        line-height: 24px; /* 120% */
        text-transform: uppercase;
        margin: 0;
      }
      .news-and-title__arrow {
        position: relative;
        width: 16px;
        height: 16px;
        &::before {
          content: "";
          position: absolute;
          width: 2px;
          height: 8px;
          background-color: #1d2730;
          transform: translate(7px, 1px) rotate(-45deg);
        }
        &::after {
          content: "";
          position: absolute;
          width: 2px;
          height: 8px;
          background-color: #1d2730;
          transform: translate(7px, 6px) rotate(45deg);
        }
      }
    }
    .news-and-title__subtitle {
      color: #1d2730;
      font-size: 16px;
      font-weight: 400;
      line-height: 20px; /* 125% */
      margin: 0;
      margin-top: 5px;
    }
  }
  .news-card-wrap {
    width: calc(100% - 220px);
    // flex-grow: 2;
  }
}

.subscribe-block {
  position: relative;
  display: flex;
  border-radius: 2px;
  border: 1px solid #1d2730;
  padding: 33px;
  margin-bottom: 24px;
  &__content-wrap {
    width: 500px;
    padding: 24px 0;
    .subscribe-block__tilte {
      color: #1d2730;
      font-size: 24.609px;
      font-weight: 700;
      line-height: 29px; /* 117.841% */
      text-transform: none;
      margin: 0;
    }
    .subscribe-block__subtilte {
      color: #000;
      font-size: 14.75px;
      font-weight: 400;
      line-height: 20px; /* 135.593% */
      margin-top: 8px;
    }
    .subscribe-block__button {
      display: inline-flex;
      min-width: 210px;
      min-height: 50px;
      padding: 8px;
      justify-content: center;
      align-items: center;
      border-radius: 2px;
      background: #44be4c;
      color: #fff;
      text-align: center;
      font-size: 14.875px;
      font-weight: 700;
      line-height: 20px; /* 134.454% */
    }
  }
  &__img {
    position: absolute;
    right: 33px;
    min-width: 400px;
    height: 200px;
    background: url("/img/subscribe-newsletter.svg");
  }
}

.send-block {
  display: flex;
  justify-content: space-between;
  border-radius: 2px;
  border: 1px solid #185d41;
  padding: 32px;
  margin-bottom: 24px;
  .send-block__content-wrap {
    .send-block__tilte {
      color: #1d2730;
      font-size: 24px;
      font-weight: 700;
      line-height: 28px; /* 116.667% */
      text-transform: uppercase;
      margin: 0;
      margin-bottom: 8px;
    }
    .send-block__subtilte {
      color: #000;
      font-size: 16px;
      font-weight: 400;
      line-height: 20px; /* 125% */
      margin: 0;
    }
  }
  .send-block__button {
    display: flex;
    width: 208px;
    padding: 16px 0px;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    background: #25e39a;

    color:#fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px; /* 125% */
  }
}
