/*-----footer-----*/
footer {
	color: #fff;
	background: #2e2e2e;
	position: relative;
	z-index: 888;
	section {
		margin: 0;
	}

	.footer {
		padding-top: 3.125rem;
		padding-bottom: 3.125rem;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		position: relative;
	}

}
