<!--------Footer--------->
<footer>
  <div class="footer-wrapper">
    <a href="/" class="logo logo_footer">
      <img src="/img/logo.svg" alt="logo">
      <span><span class="color">website</span>name</span>
    </a>
    <div class="lists">
      <div class="list-box">
        <h3 class="footer-title">Casinos</h3>
        <ul>
          <li><a href="#"><img src="/img/icons/footer/online.svg" alt="Online Casinos" class="svg">Online Casinos</a>
          </li>
          <li><a href="#"><img src="/img/icons/footer/games.svg" alt="Games" class="svg">Games</a></li>
          <li><a href="#"><img src="/img/icons/footer/bonus.svg" alt="Bonuses" class="svg">Bonuses</a></li>
          <li><a href="#"><img src="/img/icons/footer/reviews.svg" alt="User reviews" class="svg">User reviews</a></li>
          <li><a href="#"><img src="/img/icons/footer/news.svg" alt="News" class="svg">News</a></li>
          <li><a href="#"><img src="/img/icons/footer/guru.svg" alt="Casino Guru Awards" class="svg">Casino Guru
              Awards</a></li>
        </ul>
      </div>

      <div class="list-box">
        <h3 class="footer-title">Fresh Casino Reviews</h3>
        <ul>
          <li><a href="#"><img src="/img/icons/footer/games.svg" alt="Games" class="svg">Games</a></li>
          <li><a href="#"><img src="/img/icons/footer/reviews.svg" alt="User reviews" class="svg">User reviews</a></li>
        </ul>
      </div>

      <ul class="list">
        <li><a href="#">About us</a></li>
        <li><a href="#">Complaints</a></li>
        <li><a href="#">Contacts</a></li>
        <li><a href="#">Help</a></li>
        <li><a href="#">Privacy Policy</a></li>
      </ul>
    </div>

    <form action="/" class="subscribe">
      <label for="footer-input">Subscribe to our newsletter</label>
      <div class="input-box">
        <input type="email" placeholder="Insert your e-mail address" id="footer-input">
        <input type="submit" value="Subscribe" class="submit">
      </div>
      <div class="checkbox-wrap">
        <input type="checkbox" id="footer-checkbox">
        <span></span>
        <label for="footer-checkbox">I am at least 18 years old and legally allowed to play in a casino</label>
      </div>
    </form>

    <div class="footer-brands">
      <p>Play responsibly and in moderation.</p>
      <ul>
        <li><img src="/img/icons/footer/18.png" alt="18+"></li>
        <li><img src="/img/icons/footer/gpwa.png" alt="GPWA"></li>
        <li><img src="/img/icons/footer/BeGamble.png" alt="BeGamble"></li>
        <li><img src="/img/icons/footer/GamCare.svg" alt="GamCare" class="svg"></li>
        <li><img src="/img/icons/footer/gamstop.svg" alt="gamstop" class="svg"></li>
        <li><img src="/img/icons/footer/gamban.svg" alt="gamban" class="svg"></li>
      </ul>
    </div>

    <div class="copyright">
      <p>YooScore.com is an independent source of information about online gambling, not controlled by any gambling
        operator. Everything is oursreviews and guides are created honestly, based on the best knowledge and judgment of
        our independent expert team members; however,they are for informational purposes only and should not be
        construed as or relied upon as legal advice. You should always be sure that youcomply with all regulatory
        requirements before playing your chosen games of chance. Copyright ©2023</p>
      <p class="years">© 2023-2023 YooScore.com</p>
    </div>
  </div>
</footer>