<!-- header -->
<header>
  <div class="header-top">
    <div class="wrapper">
      <a href="/" class="logo">
        <img src="/img/logo.svg" alt="logo">
        <span><span class="color">website</span>name</span>
      </a>

      <nav class="navigation">
        <ul>
          <li><a href=""><img class="svg" src="/img/icons/header/online.svg" alt="online">Online Casino</a></li>
          <li><a href=""><img class="svg" src="/img/icons/header/games.svg" alt="online">Casino Games</a></li>
          <li><a href=""><img class="svg" src="/img/icons/header/bonus.svg" alt="online">Casino Bonuses</a></li>
          <li><a href=""><img class="svg" src="/img/icons/header/news.svg" alt="online">News</a></li>
          <li><a href=""><img class="svg" src="/img/icons/header/guide.svg" alt="online">Guide</a></li>
        </ul>
      </nav>

      <div class="lang-search">
        <a class="button-lang" href="#">
          <span>EN</span>
          <span>|</span>
          <img src="/img/icons/header/country.svg" alt="country" class="svg">
        </a>
        <a href="#" class="svg"><img src="/img/icons/header/search.svg" alt="search"></a>
      </div>
    </div>
  </div>

  <div class="header-bottom">
    <div class="wrapper">
      <ul>
        <li><a href="#">How to Choose a Casino</a></li>
        <li><a href="#">FAQ</a></li>
        <li class="border"></li>
        <li><a href="#"><img src="/img/icons/header/tournaments.svg" alt="tournaments" class="svg"> Tournaments <sup>New</sup></a></li>
        <li><a href="#">Live</a></li>
      </ul>
    </div>
  </div>
</header>