<!-- fonts -->

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">

<!-- favicons-->
<link rel="apple-touch-icon" sizes="57x57" href="img/favicon/favicon.svg">
<link rel="apple-touch-icon" sizes="60x60" href="img/favicon/favicon.svg">
<link rel="apple-touch-icon" sizes="72x72" href="img/favicon/favicon.svg">
<link rel="apple-touch-icon" sizes="76x76" href="img/favicon/favicon.svg">
<link rel="apple-touch-icon" sizes="114x114" href="img/favicon/favicon.svg">
<link rel="apple-touch-icon" sizes="120x120" href="img/favicon/favicon.svg">
<link rel="apple-touch-icon" sizes="144x144" href="img/favicon/favicon.svg">
<link rel="apple-touch-icon" sizes="152x152" href="img/favicon/favicon.svg">
<link rel="apple-touch-icon" sizes="180x180" href="img/favicon/favicon.svg">
<link rel="icon" type="image/png" sizes="192x192" href="img/favicon/favicon.svg">
<link rel="icon" type="image/png" sizes="32x32" href="img/favicon/favicon.svg">
<link rel="icon" type="image/png" sizes="96x96" href="img/favicon/favicon.svg">
<link rel="icon" type="image/png" sizes="16x16" href="img/favicon/favicon.svg">
<link rel="shortcut icon" href="img/favicon/favicon.svg" type="image/x-icon">
<link rel="icon" href="img/favicon/favicon.svg" type="image/x-icon">

<meta name="msapplication-tilecolor" content="#EF3B52">
<meta name="msapplication-tileimage" content="img/favicon/favicon.svg">
<meta name="theme-color" content="#EF3B52">

<!-- SLIDER -->

<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
/>

<!-- CSS -->

<link href="css/fancybox.min.css" type="text/css" rel="stylesheet">
<link href="css/owl.carousel.min.css" type="text/css" rel="stylesheet">
<link href="css/style.min.css" type="text/css" rel="stylesheet">
