/*-----filter-----*/
.filter {
  width: 220px;
  &__title {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #1d2730;
    font-family: $inter700;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__title-box {
    display: flex;
    justify-content: space-between;
    margin: 16px 0;
    span {
      color: #1d2730;
      font-family: $inter400;
      font-size: 12px;
      text-transform: lowercase;
    }
  }

  &__subtitle {
    color: #858a8f;
    font-family: $inter700;
    font-size: 14px;
    // margin-bottom: 16px;
    // line-height: 18px; /* 128.571% */
  }

  
}

.filter__items {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  padding: 0;
  margin: 8px 0 16px;
  .filter__item {
    display: inline-flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;

    border-radius: 10px;
    background: #f6f6f7;

    color: #1d2730;
    font-family: $openSans;
    font-size: 14px;

    font-weight: 600;
    line-height: 18px; /* 128.571% */
    span {
      position: relative;
      width: 10px;
      height: 10px;
      &::after {
        content: '';
        position: absolute;
        height: 12px;
        width: 1px;
        background-color: #858A8F;
        transform: translateX(4px) rotate(-45deg)
      }
      &::before {
        content: '';
        position: absolute;
        height: 12px;
        width: 1px;
        background-color: #858A8F;
        transform: translateX(4px) rotate(45deg)
      }
    }
  }
}
