$general-font: "Inter", sans-serif;

$inter300: "Inter-Light";
$inter400: "Inter-Regular";
$inter500: "Inter-Medium";
$inter600: "Inter-SemiBold";
$inter700: "Inter-Bold";

$openSans: "OpenSans";

$baseFontSize: 16; // базовый размер шрифта 

/* функция перевода font px в rem */

@function pxToRem($pxValue) {
  @return calc($pxValue / $baseFontSize) * 1rem;
};
